@model FSventasCore11.Models.Articulos

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Articulos</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ArticuloId" />
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MarcaId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProveedorId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoriaId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cantidad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descuento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecioCompra" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Importe" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fecha" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
